@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
body{
  font-family: 'Roboto', sans-serif;
}
.icon-dash{
	font-size: 3em; 
	padding: 0px 30px; 
	color:#fff;
}
.listview .lv-item .lv-small {
  font-size: 14px;
  line-height: 39px !important;
  color: #A9A9A9;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  width: 100%;
}
.listview .lv-img-sm {
  width: 35px;
  height: 35px;
  border-radius: none;
}
.listview .lv-title {
  font-weight: 600;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}
.profile-menu > a {
  display: block;
  height: 129px;
  margin-bottom: 5px;
  width: 100%;
  background: url(../img/profile-pic.jpg) no-repeat left top;
  background-size: 100%;
}

.profile-menu > a .profile-pic {
  padding: 12px;
}

.profile-menu > a .profile-pic > img {
  width: 47px;
  height: 47px;
  border-radius: 50%;
  border: 3px solid rgba(0, 0, 0, 0.14);
  box-sizing: content-box;
}

.profile-menu > a .profile-info {
  background: rgba(0, 0, 0, 0.37);
  padding: 7px 14px;
  color: #fff;
  margin-top: 20px;
  position: relative;
}

.profile-menu > a .profile-info > i {
  font-size: 19px;
  line-height: 100%;
  position: absolute;
  right: 15px;
  top: 7px;
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
}

.profile-menu .main-menu {
  display: none;
  margin: 0 0 0;
  border-bottom: 1px solid #E6E6E6;
}